{% extends "base.html" %}

{% block title %}
    ETL
{% endblock %}

{% block content %}
    <div class="container">

      <div class="starter-template">
        <h1>Aplicación Web ETL</h1>
        <p class="lead">Está es una aplicación Web que permite cargar un conjunto de datos a la plataforma en distintos formatos (.cvs, .xlsx o Conexión a base de datos), para luego representar
            información de forma coherente y lógica a través de gráficas, generando así información relevante a partir de los datos ingresados por el usuario.</p>
         <p class="lead">Use la plataforma según su necesidad, desplazandose a través de los links en la barra de navegación superior.<br> En el apartado cvs, podrá subir archivos de esé formato, y así mismo en cada uno de los elementos de la lista de navegación</p>
      </div>

    </div><!-- /.container -->

{% endblock %}