body {
  min-height: 2000px;
  padding-top: 50px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.row {
  margin-bottom: 20px;
}

.tabla {
	padding: 45px 15px 15px;
    margin: 0 -15px 15px;
}

.paneles{
	padding: 45px 30px 20px 45px;
}

.limpieza{
	margin-right: 5%;
    margin-left: 5%;
}

.sin_margenes{
	margin-top: 0;
    margin-bottom: 0;
}

.table {
  table-layout: auto !important;
}

#tabla_cantidad_registros th{
  overflow: auto;
}

#panel_cantidad_datos{
	width: 60%;
}

.margen_botton_titulo{
	margin-bottom: 4%;
}

.ancho{
	width: 22%;
}
