{% extends "base.html" %}

{% block active_navber_inicio %} 

{% endblock %}

{% block active_navber_app %} 
active
{% endblock %}

{% block title %}
    ETL | Cargas
{% endblock %}

{% block content %}
    <div class="container text-center">
        <h2 align='center'>Seleccione un conjunto de datos ('.csv', '.xlsx' o '.db')</h2><br><br>
        <form class="md-form" action="{{url_for('action')}}" method="POST" enctype = "multipart/form-data">
            <div class="row">
                <div class="col-md-2">
                    <label for="imput_archivo_csv">Elegir archivo:</label>
                </div>
                <div class="col-md-8">
                    <input type="file" name="file" class="form-control-file form-control" id="imput_archivo_csv">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="input_name_table">Nombre de Tabla</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="tabla_bd" id="input_name_table" aria-describedby="nombretablahelp" placeholder="Si su elección es un archivo '.db', ingrese el nombre de una tabla de la base de datos">
                    <small id="nombretablahelp" class="form-text text-muted">Aplica sólo cuando el archivo a subir es '.db'</small>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary mb-2" value="submit">Cargar</button>
            </div>
        </form>
    </div>

{% endblock %}
