<!DOCTYPE html>

<html lang="es">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{{url_for('static', filename = 'images/icono.ico')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>

    <!--estilos de bootstrap-->
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <!--stilos propios-->
    <link href="{{url_for('static', filename = 'css/styles.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/notificaciones.css')}}">

  </head>

  <body>
    <!-- Static navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://localhost:5000/">Proyecto ETL</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{% block active_navber_inicio %} {% endblock %}"><a href="http://localhost:5000/">Inicio</a></li>
            <li class="{% block active_navber_app %} {% endblock %}"><a href="http://localhost:5000/etl">Aplicación</a></li>
          </ul>
        </div>
      </div>
    </nav>

        {% with messages = get_flashed_messages(with_categories=True) %}
    			{% if messages %}
    				{% for category, message in messages %}
    					<div class="container d-flex align-items-center flex-column">
    						<div class="{{category}} card align-items-center">
    							{{ message }}
    						</div>
    					</div>
    				{% endfor %}
    			{% endif %}
    		{% endwith %}

    {% block content %}
    {% endblock %}


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename = 'js/jquery.min.js')}}"><\/script>')</script>
    <script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>

  </body>
</html>
