{% extends "base.html" %}

{% block title %}
    ETL | csv consultas
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row limpieza">
			<div class="col-12">
				<section class="headline">
					<h1 class="title margen_botton_titulo">Consultas Especializada</h1>
				</section>
			</div>
			<div class="col-lg-9">
			<article>
			    <div class="panel panel-primary">
				    <div class="panel-heading">{{session['data_csv']}}</div>
			    	<div class="row">
						<form class="md-form" action="{{url_for('especializada')}}" method="POST" >
							<div class="col-xs-12 form-group">
							    <div class="panel-body">
							        <h4>
							        	import pandas as pd
							        </h4>
							        <h4>
							        	import numpy as np
							       	</h4>
							       	<h4>
							        	dataframe = pd.read_csv({{session['data_csv']}})
							        </h4>
							        <textarea name="comando" class="form-control" rows="3"></textarea>
							    </div>
							    <div class="col-xs-3 form-group pull-right">
							    	<button type="submit" class="btn btn-succes">Ejecutar</button>
							    </div>
							    {% if result == True %}
				        		<div class="col-xs-12 form-group">
				    				<h4>
				    					Out: {{salida_comando}}
				    				</h4>
				        		</div>
				        		{% endif %}
							</div>
						</form>
			    	</div>
			    </div>
			</article>
			</div>
			<div class="col-lg-3">
				<aside role="complementary" itemscope="" itemtype="https://schema.org/WPSideBar">
					<section>
					<h3 class="sin_margenes">Opciones</h3><br>
					<div class="list-group">
						<a href="{{url_for('especializada')}}" class="list-group-item active ">
						Limpiar Entrada
						</a>
					</div>
					</section>
					<section>
						<ul class="pager">
							<li><a href="{{url_for('action')}}">Home</a></li>
						</ul>
					</section>
				</aside>
			</div>
		</div>
	</div>
{% endblock %}